<% provide :title, t(".title") %>
<div id="home-jumbo" class="jumbotron text-center">
  <h1 class="display-4 mb-3"><%= t ".welcome" %></h1>
  <p class="lead">
    <%= t ".desc_html" %>
  </p>
  <%= link_to t(".sign-up-now"), signup_path, class: "btn btn-primary" %>
</div>
