<h1><%= t "_header.brand" %></h1>
<p><%= t ".welcome_html", user_name: @user.name %></p>
<%= link_to t(".activate_now"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
