<li class="<%= classes ||= "col-lg-4 col-md-6" %>">
  <div class="user-item">
    <%= gravatar_for user, size: Settings.user.gravatar_size %>
    <%= link_to user.name, user, class: "user-item--name" %>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to t("global.delete"), user, method: :delete, data: {confirm: t("global.you_sure?")}, class: "btn btn-danger btn-sm" %>
    <% end %>
  </div>
</li>
