<% provide :title, t(".sign_up") %>
<% provide :button_text, t(".create_my_account") %>
<div class="activation-page">
  <div class="activation-form">
    <small><%= t "_header.brand" %></small>
    <h2><%= t ".sign_up" %></h2>
    <%= render "shared/form" %>
  </div>
</div>
