<% provide :title, @user.name %>
<div id="show-page">
  <div class="container py-5">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h3>
            <%= gravatar_for @user %>
            <span class="user_info--name">
              <%= @user.name %>
            </span>
          </h3>
        </section>
      </aside>
    </div>
  </div>
</div>
