@import "bootstrap";
@import "colors";
@import "variables";
@import "mixins";

/* Universal */
html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: 'Montserrat', sans-serif !important;
}

/* Header */
#header {
  height: $navbar-height;
  @include has-gradient-bg(linear-gradient(to right, $color-gradient-primary, #4b1944, #611d41, #74253a, $color-gradient-secondary));
  @include has-box-shadow(0 10px 37px -5px rgba(0, 0, 0, 0.3));
}

#logo {
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;

  transition: $transition-base;

  &:hover {
    letter-spacing: 5px;
  }
}

/* Forms */
#error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  .form-control {
    color: $red;
    border-color: $red;
    outline-color: $red;

    &:focus {
      border-color: $red;
      box-shadow: 0 0 0 .2rem rgba($red, .25);
    }
  }
}

/* Gravatar */
.gravatar {
  width: 60px;
  height: auto;
  border-radius: 50%;
  box-shadow: $box-shadow;
}

.gravatar_edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .gravatar {
    width: 100px;
  }
}

/* Micro posts */
.microposts {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 25px;
    margin-bottom: 25px;
    background: $gray-100;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    display: flex;
    align-items: center;

    .gravatar {
      margin-right: 25px;
    }

    .user {
      font-weight: 500;
    }

    .timestamp {
      font-size: .8em;
      color: $text-muted;
    }
  }
}

/* User info */
.user_info {
  display: flex;
  align-items: center;

  .gravatar {
    width: 80px;
    margin-right: 20px;
  }

  span {
    display: block;
    font-size: .95em;
  }

  &--name {
    font-weight: 600;
    font-size: 1.5em !important;
  }
}

/* Pagination */
.pagination {
  justify-content: center;
}

/* Button confirm */
.btn-confirm {
  margin-top: 10px;
  @include has-gradient-bg(linear-gradient(to right, #301844, #4b1944, #611d41, #74253a, #813232));
  background-size: 200% 100%;
  color: white;

  transition: $transition-base;

  &:hover {
    background-position: 100% 0;
    @include has-box-shadow($box-shadow);

    color: white;
    font-weight: 500;
  }
}

/* Stats */
.stats {
  display: flex;
  align-items: center;

  a {
    margin-right: 25px;
    color: black;
    text-decoration: none;

    .stat {
      display: block;
      font-size: 1.1em;
    }

    span {
      font-size: .85em;
      color: $text-muted
    }
  }
}

/* User avatars */
.user_avatars {
  margin-top: 15px;
  .gravatar {
    width: 45px;
    margin: 0 5px 5px 0;
  }
}

/* User card */
.users {
  list-style: none;
  margin: 0;
  padding: 0;

  .user-item {
    position: relative;
    margin: 20px 0 20px 30px;
    padding: 8px 10px 8px 45px;

    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background: $gray-200;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .gravatar {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }

    &--name {
      color: $text-muted;
      font-weight: 500;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      margin-right: 5px;

      &:hover {
        color: black;
      }
    }
  }
}

/* App content */
.app-content {
  width: 100%;
  height: 100%;

  padding-top: $navbar-height;
}

/* Home page */
#home-jumbo {
  position: relative;
  border-radius: 0;
  color: white;
  background-color: rgba(0, 0, 0, .65);

  &:after {
    @include overlay-after-psuedo;

    background-image: asset_url("home-jumbo-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/* Activation pages: sign up or log in */
.activation-page {
  position: relative;
  width: 100%;
  height: 100%;

  background-image: asset_url("home-jumbo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .activation-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 500px;
    height: auto;
    background-color: white;
    padding: 30px;
    @include has-box-shadow($box-shadow);
    border-radius: $border-radius;

    small {
      display: block;
      margin-bottom: 0.5rem;

      font-weight: 500;

      color: $text-muted;
    }

    h2 {
      font-weight: 600;
      color: $color-primary;
      text-transform: uppercase;

      margin-bottom: 1.25rem;
    }
  }
}

/* Edit user page */
.edit-user-page {
  .activation-form {
    width: 700px;
  }
}
